.Chart{
    padding: 1.5rem;
    border-radius: 12px;
    background-color: #ffc5c5;
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 10rem;
    margin:2% 10% 0% 10% ;
}