.details{
    display: flex;
    justify-content: space-between;
   
}
.secondDetails{
    
    padding-right: 40px;
}
.thirdDetails{
 padding-right: 7px;
}
.firstDetails{
   padding-right: 4px;
   
}
.details2{
   display: flex;
 
}