.expense-Item{
   font-size: 20px;
   color: rgb(0, 0, 0); 
   
   padding: 10px;
   
 
}
.expense-details{
   padding: 0px 10px;
   display: flex;
  align-self: center;
  
   
}
.expense-date{
 padding: 0px 20px;
 text-align: center;
}
button{
   margin-right: 4px;
}
.name{
   font-size: 20px;
   padding-right: 20px;
   
}
.amount{
   font-size: 20px;
   padding-right: 20px;
}