.new-expense{
   
   display: flex;
   background: #ddb3ff;
  margin: 20px 100px 0px 100px;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
    padding: 22px;
 
}
.buttons{
    padding: 7px 12px;
    margin: 5px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}